<div class="alert alert-success" role="alert">
  <%= notice %>
</div>

<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8 list-group">
    <div class="card bg-light mb-3 list-group-item" style="">
      <div class="card-header text-right">
        Created:
        <%= @post.created_at %>
      </div>
      <div class="card-body">
        <h3 class="card-title">
          <%= @post.title %>
        </h3>

        <p class="card-text"><%= @post.tekst %></p>
        <% if @post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(@post), style: "button float-bottom", class:"btn btn-primary fixed-bottom" %>
        <% end %>
        <%= link_to 'Reply', new_post_reply_path(@post), class: "btn btn-primary", style: "button" %>
        <%= link_to 'Back', posts_path, class: "btn btn-primary", style: "button" %>

      </div>

      <ul class="list-group list-group-flush">
        <h3>
          Replies:
        </h3>
        <% @post.replies.each do |reply|%>
          <li class="list-group-item"><%= reply.comment %>

            <p class="mb-0">
              --
              <%= reply.user.email%>
              on:
              <%=reply.created_at %>
            </p>

          </li>
        <% end %>
      </ul>

    </div>
    <div class=""><%= render template: "replies/new" %></div>
  </div>

</div>
